body {
    margin:0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    background-repeat: no-repeat;
    background-size: cover;
}

#root{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #3a2f4f, #3e3a61, #3e4573, #3a5286, #2e5f99);
}

nav {
    height: 150px;
    width: 100%;
    background-color: transparent;
    margin:0;
}

nav h1{
    font-family: 'orbitron';
    font-size: 60px;
    text-align: center;
    color: white;
}

.menu{
    height: 50px;
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.selectBox{
    width:40%;
}

.selector{
    width: 30%;
}

select {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    background-color: white;
    background-image: none;
    appearance: none;
}

.seeker{
    width: 140%;
    height: 50px;
    float:right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#busqueda{
    width: 70%;
    background-color: #fff;
}

.searchBtn{
    width: 20%;
    padding: 5px;
    background-color: #583688;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24);
}

#showCards{
    width: 90%;
    margin: 5% 5% 0 5%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
/*Estilo de la tarjeta*/
.cardsMovies{
    background-color:white;
    width: 15%;
    height: 350px;
    margin: 0 0 3% 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
    text-align: center;

}
/*Estilo de la imagen*/
.posterMovie{
    width: 100%;
    height: 250px;
}

h2{
    font-size: 16px;
    color:#583688;
}

.buttonModal{
    width: 50%;
    color: white;
    padding: 5px;
    background-color: #583688;
    border:none;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
}

/* Estilo Modal*/
.modalCardsView{
    background-color: #583688;
    width: 20%;
    margin: 47px 0 0 -65px;
    padding: 30px 20px;
    color: white;
    position: absolute;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
}

.infoContent{
    text-align: left;
}

.infoContent h2{
    color: white;
    font-size: 20px;
    text-align: center;
}

.infoContent p{
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.contentBtn{
    width:20px;
    display: flex;
    justify-content: center;
}

.btnExit{
   background: none;
   border:none;
   color: white;
   font-size: 16px;
}
/* .modalCardsView{
    background-color: #583688;
    width: 22%;
    margin: -295px 0 0 130px;
    padding: 20px;
    color: white;
    position: absolute;
    text-align: center;
    border-radius: 20px;
    border-bottom-left-radius: 0;
} */

/* Para tablets */
@media only screen and (min-width: 641px) and (max-width: 1007px){
    #root{
    width:100%;
    margin: 0px;
}

}

/*Para celular*/
@media only screen and (max-width: 640px){
    #root{
      margin: 0px;
      width:100%;
}
}
