body {
    margin:0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-image: linear-gradient(to right top, #3a2f4f, #3e3a61, #3e4573, #3a5286, #2e5f99);
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#root{
    width: 90%;
    margin: 10% 5% 0 5%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav {
    border: 1px solid green;
    height: 150px;
    width: 100%;
    background-color: black;
    margin:0;
   }

.menu{
    border: 1px solid green;
    height: 50px;
    width: 100%;
    background-color: red;
    margin:0;
}

.seeker{
    border: 1px solid green;
    padding-left: 65%;
}

/*Estilo de la tarjeta*/
.cardsMovies{
    background-color:white;
    width: 15%;
    height: 350px;
    margin: 0 0 3% 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
    text-align: center;

}
/*Estilo de la imagen*/
.posterMovie{
    width: 100%;
    height: 250px;
}

h2{
    font-size: 16px;
    color:#583688;
}

.buttonModal{
    width: 50%;
    color: white;
    padding: 5px;
    background-color: #583688;
    border:none;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
}
/* Estilo Modal*/
.modalCardsView{
    background-color: #583688;
    width: 20%;
    margin: -5px 0 0 -65px;
    padding: 30px 20px;
    color: white;
    position: absolute;
    text-align: center;
    border-radius: 20px;
}

.modalCardsView h2{
    color: white;
    font-size: 20px;
}

.modalCardsView p{
    color: white;
    font-size: 16px;
    font-weight: 200;
}

.btnExit{
   float: right;
   background: none;
   border:none;
   color: white;
   font-size: 16px;
}
/* .modalCardsView{
    background-color: #583688;
    width: 22%;
    margin: -295px 0 0 130px;
    padding: 20px;
    color: white;
    position: absolute;
    text-align: center;
    border-radius: 20px;
    border-bottom-left-radius: 0;
} */